.content-box {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;

   
}

header {
    display: grid; 
    
    background-color:white;
   
    border-bottom: 1px solid black;
    margin: -10px;

    position: fixed;
    top: 0;
    width: 100%;
}
.grid {
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(30,1fr); 

}


.forstabilden {
    grid-column-start: 4;
    
    grid-row: 3;
   


}


.andrabilden {
    grid-column-start: 8;
    grid-row: 3;

    
}
.tredjebilden {
    grid-column-start: 12;
    grid-row: 3;
}
.logo {
    margin-top: 50px;
    margin-left: 50px;
    grid-row: 2;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
.link {
    background-color: red;
}

.grid1{
    border-radius: 25px;
    background-color: white;
    margin-left: -40px;
    margin-top: 150px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    
   
   
}

.grid2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 2;
    background: none;

}
 
.fjardebilden {
    grid-column-start:4;
    grid-row: 13;
    
}
.femtebilden {
    grid-column-start: 8;
    grid-row: 13;
}
.sjattebilden {
    grid-column-start: 12;
    grid-row: 13;
}
img{
    
    padding: 12px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
.container:hover {
    background-color: white;
    opacity: 0.9;
    transform: scale(1.02);
    
}

.toptextenfri {
    display: grid;
    text-align: center;
    grid-row: 1;
    margin-bottom: -250px;
    

}

.text{
    text-align: center;
    text-decoration: none;
    color: black;
    

}
.text1
{
   margin-bottom: 20px;
   font-size: 25px;
   grid-column-start: 5;
   grid-row: 3;
   
   text-decoration: none;
   color: black;
}
.text2 
{
    margin-bottom: 20px;
   font-size: 25px;
   grid-column-start: 6;
   grid-row: 3;
   
   text-decoration: none;
   color: black;
    
    


}
.text3
{
   margin-bottom: 20px;
   margin-left: 25px;
   font-size: 25px;
   grid-column-start: 7;
   grid-row: 3;
   
   text-decoration: none;
   color: black;
}   
.text4
{
    margin-bottom: 20px;
    
   font-size: 25px;
   grid-column-start: 8;
   grid-row: 3;

   
   text-decoration: none;
   color: black;
}
.texttop{
    display: grid;
    margin-bottom: -50px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%
    
  
}
.textss:hover {
 transform: scale(1.03);
}
.search-area{
    
    grid-column-start: 3;
    grid-column-end: 5;
    padding: 0,5rem;
    margin-bottom: 15px;
    grid-row: 2;
    grid-column: 3;
    border: none;
    

}
.search-area > input {
    border: none;
    border-bottom: 2px blue solid;
    background-color: #eee;
    font-size: 1.5rem;
    line-height: 2;
}

.search-area > input:focus {
    outline: none;
    border-color: orange;
    background-color: white;
}


.search-area > button {
    padding: 0,2rem 0,5rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: 2px solid 333;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(red, green, blue, alpha);
     


 
}
.nonimg {
    border: none;
}
.rabatt {
    grid-row: 1;
    grid-column: 2/13; 
    
    margin-top: -50px;
   
    position: center;
}

.header-buttons {
    
    border: none;
    background-color: white;
    margin-top: -10px;
    grid-row: 1;
    grid-column: 10;
    font-size: 24px;
    transform: scale(2);
}
.header-buttons > :hover {
    transform: scale(1.3,1.3);
    border: none;
}
.botten{
    margin-right: -60px;
    background-color: black;
   
    
    margin-top: 50px;
    
    

}

.bottentext1 {
    background-color: white;
    grid-column: 3;
    grid-row: 24;
}
.reklambilder {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(14,1fr);
    grid-template-rows: repeat(20,100px);
    
}
.reklam1 {
    border: none;
    grid-column: 1;
    grid-row: 12;
    margin-top: -90px;
    margin-left: 100px;
    
}


.reklam2 {
    border: none;
    grid-column: 2;
    grid-row: 17;
    margin-left: -830px;
    margin-top: -55px;
    width: 800px;
}
.reklam3 {
    border: none;
    grid-column: 1;
    width: 1700px;
    margin-left: 100px;
    margin-top: 70px;
    transition: 0,5s ease;
    opacity: 1;
}
.bildtext {
    transition: 0.5s ease;
    grid-column: 8;
     grid-row: 7;
     margin-left: 400px ;
     margin-top: -650px;
     opacity: 1;
     font-size: 60px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     opacity: 0;


     
   }

.bilden:hover .bildtext {
    opacity: 1;
}
 
    

.klicklank {
    border: none;
    grid-column: 2;
    grid-row: 12;
    width: 200px;
    margin-left: -350px;
    margin-top: 40px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.klicklank2 {
    border: none;
    grid-column: 2;
    margin-left: -170px;
    grid-row: 12;
    margin-top: 40px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.klicklank3 {
    border: none;
    grid-column: 1;
    grid-row: 17;
    margin-left: 110px;
    text-decoration: none;
    margin-top: 50px;
}
.klicklank4 {
    text-decoration: none;
    border: none;
    grid-column: 1;
    grid-row: 18;
    margin-left: 290px;
    margin-top: 0px
    


}
.klicklank:hover {
    transform: scale(1.01);
    opacity: 0.95;
}
.klicklank2:hover {
    transform: scale(1.01);
    opacity: 0.95;
}
.klicklank3:hover{
    transform: scale(1.01);
    opacity: 0.95;

}

.klicklank4:hover{
    transform: scale(1.01);
    opacity: 0.95;

}
.linktext{
margin-left: -290px;
color: black;
}
.linktext2 {
    margin-left: -125px;
    margin-top:  25px;
    color: black;
}

.kategori {
    grid-column: 6;
    grid-row: 12;
    font-size: 60px;
    margin-top: -60px;
    margin-left: -580px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}
.kategori2 {
    grid-column: 1;
    grid-row: 16;
    margin-left: 370px;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.linktext3 {
    color: black;
    margin-top: -20px;
    margin-left: 170px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.linktext4 {
    color: black;
    margin-left: 390px;
    margin-top: -20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
body {
    
    display: flex;
    flex-wrap: wrap;
    
    
}
.container:hover {
    transform: scale(1.02);
    transition: 0.5s;
    opacity: 0.9;
}
@media (max-width: 700px) {
    body {
        width: 110%;
        height: 20%;
        zoom: 0.40;

       
        

    }
}
@media (max-width: 700px) {
    .reklam3 {
        width: 90%;
        margin-left: 35px;
        justify-content: left;
        
    }
      
    }
    @media (max-width: 700px) {
        .kategori{
            margin-top: -500px;
            margin-left: -670px;
        }
    }
    @media (max-width: 700px) {
       .klicklank {
           margin-top: -200px;
           margin-left: -400px;
       }
    }
    @media (max-width: 700px) {
        .klicklank2 {
            margin-top: -200px;
            margin-left: -200px
            

        }
    }
    @media (max-width: 700px) {
        .klicklank3 {
            margin-top: 50px;
            margin-left: 60px
            

        }
    }
    @media (max-width: 700px) {
        .klicklank4 {
            margin-top: 0px;
            margin-left: 250px
            

        }
    }
    @media(max-width:700px) {
        .reklam1{
            margin-top: 00px;
            margin-left: -12px;
            justify-content: center;
            
             
    }
    }
    @media(max-width: 700px) {
        .grid1 {
            margin-left: -100px;
        }
    }

@media(max-width: 700px) {
    .reklam2{ 
        margin-top: 450px;
        margin-left: -850px
    }
}
@media(max-width: 700px) {
    .kategori2 {
        margin-top: 100px;
        margin-left: 350px;
    }
}
@media(max-width: 700px) {
   
    .bilden:hover .bildtext {
        opacity: 0;
        font-size: 1px;
    }
   
        }
    


@media(max-width:700px) {
    .grid1 {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        margin-top: 300px;
        justify-content: space-evenly;
    }
}
@media(max-width:700px) {
    .header {
        display: flex;
        flex-wrap: wrap;
       justify-content: space-evenly;
        
    }
}
@media(min-width: 2000px) {
    body{
        zoom: 1.30;
        
}
}





 